<div class="contenedor">


  <div class="buttons">


    <a [routerLink]="['/ux-projects/Where to play']" class=" btnav"><span>01</span> prev</a>
    <a [routerLink]="['/ux-projects/Alzgamer']" class=" btnav"><span>03</span> next</a>

  </div>

  <h1>Energi Codensa</h1>
  <div class="fecha">
    <p class="texto">Made on august 29 - 2018</p>
    <p class="texto">Assignature: Workshop II - Mobile application design</p>
  </div>

  <div class="logo">
    <img src="../../assets/images/enel.svg" alt="logo enel">
  </div>

  <p class="texto desc">The project is about optimizing the manual process of requirement, installation and use of a renewable energy system in a house and moving that process to Codensa web site and via telephone.</p>
  <p class="texto desc">The objective was optimize, move and clarify the manual and person to person process and implement it on Codensa website and by telephone.</p>


  <h2>¿Where did this came from?</h2>

  <h3 class="subtitulo">PROCESS</h3>

  <h4 class="fase">Research Pt.1</h4>

  <p class="texto">We started the process interviewing 10 persons who had houses and wanted to install a renewable and clean energy, another 10 if they installed it or tried to and another 10 who worked on Codensa and know about this process. We also
    did a desktop research and contacted people who know about this process that doesn’t work on there.</p>

  <h4 class="fase">Research Pt.2</h4>

  <p class="texto">After we gathered a lot of information we also read manuals about requirements to see in which type of houses we can and which ones we cannot, the overall cost of money and time of all the process for the company and the user,
    legal matters such as normative declared in the COP21 and the CREG (Energy and gas regulation commission), the workflow of the company with the documents they require and which are all the steps of the process.</p>

  <h4 class="fase">Define</h4>
  <p class="texto">We started to analyze and synthetize all the information gathered starting with clusters, verbatims and insights so we could create a user persona, an actor’s map and a flow model chart to help us understand all the characteristics
    the project involves.</p>
  <p class="texto">After that we concluded with this:
    The process is not implemented in the web page because the company expected the user to go personally to require it.
    Only the people above economic status 3 can afford the system.
    The overall time all the process takes is 2 months because there is a lot of paperwork separated in different process instead of just one line process.
  </p>

  <h4 class="fase">Prototype</h4>
  <p class="texto">We started prototyping the optimized process with paper, taking in mind the restructured process we made based in if the user wants to require and install the system from 0, change, verify or add an appointment or if they need any
    information of the process and unifying all the separated categories into one specific continue process.
  </p>
  <p class="texto">Also, we identified extreme users which they are people who don’t have internet access and people who don’t have internet or telephone access, so we prototyped that process as well.
  </p>

  <h4 class="fase">Deliver</h4>

  <p class="texto">We delivered a final digital prototype designed with the visual design lineament the web page has, also creating the same process adapted to be made by telephone and person to person, optimizing it and making it clear in every
    step.
  </p>

  <h4 class="fase">Team</h4>

  <p class="texto">Daniel Mendez contributed as UX designer in all the process.</p>
  <p class="texto">Daniel Escobar contributed as UX/UI designer in all the process.</p>
  <p class="texto">Haruyoshie Ecima contributed as UX designer in all the process.</p>



  <h3 class="subtitulo">FINAL DESIGN</h3>

  <img src="../../assets/images/cod.png" alt="cod final" class="imgd">

  <div class="mostrario">
    <img src="../../assets/images/cod1.png" alt="prod cod">
    <img src="../../assets/images/cod2.png" alt="prod cod">

  </div>

  <div class="mostrario">
    <img src="../../assets/images/cod3.png" alt="prod cod">
    <img src="../../assets/images/cod4.png" alt="prod cod">
  </div>


  <div class="mostrario">
    <img src="../../assets/images/cod5.png" alt="prod cod">
    <img src="../../assets/images/cod6.png" alt="prod cod">
  </div>


  <button type="button" class="btn" [routerLink]="['/ux-projects']">Go back to UX projects</button>

</div>

<app-pie></app-pie>