<div class="contenedor">


  <div class="am">
    <p>You know, like the Artic Monekys album</p>
    <p>Okay nevermind...</p>
  </div>

  <div class="variab">
    <div class="contva">

      <h3 id="first">THIS IS ME <span>THIS IS ME</span> THIS IS</h3>
      <h3 id="second">ME THIS IS ME THIS IS ME THI</h3>

    </div>

  </div>


  <div id="me">

    <div class="imgme">
      <img src="../assets/images/Usb.jpg" alt="imagen mia">
    </div>

    <div class="infome">
      <h2>Julio Javier Bastidas Coral</h2>
      <p>i’m an interactive designer from Colombia and my focus is on UX design and front-end web development.</p>
      <p>I have experience in research and definition of information in the UX process, rapid prototyping and development of MVP, wireframing to paper and digital, construction of information architecture, product design a design systems. I can also
        build websites with Angular, React or Vue.</p>
      <p>Complementary i have knowledge in Adobe Photoshop, Illustraitor, After Effects, premiere & Pro tools for digital post production in image, audio and video.</p>

    </div>

  </div>


</div>

<app-pie></app-pie>