<div class="contenedor">


  <div class="buttons">

    <a [routerLink]="['/frontend-projects/Digan Cheese!']" class=" btnav"><span>01</span> prev</a>
    <a [routerLink]="['/frontend-projects/Detras de la pantalla']" class=" btnav"><span>03</span> next</a>


  </div>

  <h1>Tu banco ideal</h1>
  <div class="fecha">
    <p class="texto">Made on october 20 - 2017</p>
    <p class="texto">Subject: graphic composition for interfaces</p>

  </div>

  <div class="logo">
    <img src="../../assets/images/bi.png" alt="logo banco">
  </div>

  <p class="texto desc">Visual design for a mobile app “your ideal bank” designed for Windows Phone in which you can make all the legal formalities through it having a second step security parameter.</p>


  <h3 class="subtitulo">FINAL DESIGN</h3>
  <img src="../../assets/images/banc.png" alt="banco ideal" class="imgd">

  <div class="mostrario">
    <img src="../../assets/images/bi1.png" alt="prod banco ideal">
    <img src="../../assets/images/bi2.png" alt="prod banco ideal">
    <img src="../../assets/images/bi3.png" alt="prod banco ideal">
  </div>
  <div class="mostrario">
    <img src="../../assets/images/bi4.png" alt="prod banco ideal">
    <img src="../../assets/images/bi5.png" alt="prod banco ideal">
    <img src="../../assets/images/bi6.png" alt="prod banco ideal">
  </div>


  <button type="button" class="btn" [routerLink]="['/frontend-projects']">Go back to frontend projects</button>

</div>

<app-pie></app-pie>