<main>




  <div class="grandes" id="ux">

    <div class="contenedor distr">


      <div class="bigtext">

        <h3>Hi! my name is <span>Juls</span> and i’m an </h3>
        <h2 class="titulo"><span>UX</span></h2>
        <h2 class="titulo"><span>Design</span>er</h2>

      </div>


      <div class="projectsdiv">
        <p>Projects</p>
        <a [routerLink]="['/ux-projects']">
          <img src=" /../../assets/images/projectsB.png" alt="imagen que lleva a los proyectos">
        </a>
        <p>Projects</p>

      </div>


    </div>


  </div>

  <div id="and">

    <h1>&</h1>

  </div>

  <div class="grandes" id="frontend">

    <div class="contenedor distr">

      <div class="bigtext">

        <h2 class="titulo" id="titfront">Front end</h2>
        <h2 class="titulo" id="titdev">Developer</h2>

      </div>

      <div class="projectsdiv">

        <p>Projects</p>
        <a [routerLink]="['/frontend-projects']">
          <img src=" /../../assets/images/projectsB.png" alt="imagen que lleva a los proyectos">
        </a>
        <p>Projects</p>


      </div>


    </div>

  </div>

  <a [routerLink]="['/about']" class="btnper">But ¿who the $@#! is Juls?</a>




</main>

<app-pie></app-pie>