<div class="contenedor">


  <div class="buttons">

    <a [routerLink]="['/frontend-projects/Tu banco ideal']" class=" btnav"><span>02</span> prev</a>
    <a [routerLink]="['/frontend-projects/Huellas']" class=" btnav"><span>04</span> next</a>


  </div>

  <h1>¿Quién esta detras de la pantalla?</h1>
  <div class="fecha">
    <p class="texto">Made on april 25 - 2019</p>
    <p class="texto">Workshop III: Interactive audiovisual narratives</p>

  </div>

  <div class="logo">
    <img src="../../assets/images/intro.png" alt="logo detras">
  </div>

  <p class="texto desc">Audiovisual interactive Project about Alfredo who meets Amaya through the internet but one day in the middle of a game she disappears leaving him clues to find her. The story has 3 different finals and it depends of the
    decision the user takes.</p>


  <img src="../../assets/images/int0.png" alt="quien prod" class="imgd">

  <p class="texto desc">The interactions between the video are remembering the patron as the circles light up in the screen, rotate the lines in the correct order to connect the path between the 2 triangles and click on the circles as soon as they
    appear in the screen.</p>

  <img src="../../assets/images/int1.png" alt="quien prod" class="imgd">
  <img src="../../assets/images/int2.png" alt="quien prod" class="imgd">
  <img src="../../assets/images/int3.png" alt="quien prod" class="imgd">

  <h4 class="fase">Team</h4>
  <p class="texto">Daniel Mendez programming and guionist.</p>
  <p class="texto">Daniel Escobar camera man and director.</p>
  <p class="texto">Daniela Capera Art director and guionist.</p>
  <p class="texto">Daniel Triana Animations and video post-production.</p>
  <p class="texto">Visual design and interactions by me.</p>






  <button type="button" class="btn" [routerLink]="['/frontend-projects']">Go back to frontend projects</button>

</div>

<app-pie></app-pie>