<div class="contenedor">


  <div class="buttons">


    <a [routerLink]="['/ux-projects/Energi Codensa']" class=" btnav"><span>02</span> next</a>

  </div>

  <h1>Where to Play</h1>
  <div class="fecha">
    <p class="texto">Made on october 15 - 2018</p>
    <p class="texto">Assignature: Workshop II - Mobile application design</p>
  </div>

  <div class="logo">
    <img src="../../assets/images/w2p.svg" alt="logo where to play">
  </div>

  <p class="texto desc">Where to play is made for the ones who love sports but lack of free time. This app facilitates finding safe and close places where you can play your favorite sport.</p>

  <h2>¿Where did this came from?</h2>

  <h3 class="subtitulo">PROCESS</h3>

  <h4 class="fase">Discover</h4>

  <p class="texto">in Bogotá D.C. there are multiple parks with sport courts around the city, which it gives people more opportunity to make exercise, right? Well there is only 2 out of 10 people who actually does that.</p>
  <p class="texto">In this context i decided to investigate why this happens, how can i help and design the solution through a mobile app.</p>
  <p class="texto">The first thing i did was designing the questions for quantitative and qualitative interviews that would help me understand the reasons why people don’t do exercise on this place.</p>

  <h4 class="fase">Research</h4>

  <p class="texto">I started taking information with the interviews to university students, people with full time jobs, half-time jobs or even if they have more than one job and at the same time I did a desktop research to make a solid base
    information where I can analyze and determine the principal factors.</p>

  <h4 class="fase">Define</h4>
  <p class="texto">After the information was collected, I started making clusters, verbatims and insights. The principal reasons why people don’t make exercise are not about that they are lazy or they don’t want to, it was something completely
    different, they felt unsafe in those sport courts and even if they had a halftime job or space between classes they still lack of time to do some exercise.</p>
  <p class="texto">In Bogotá there is a 43% crime rate that’s why people just prefer to make exercise in a closed and safe place, however the lack of time and money closes that possibility. But they said that if they had a place close to them which
    they know is safe to go, then they would go with friends or by themselves.</p>
  <p class="texto">So, I concluded with this; people are not able to pay for a gym subscription or the time to go and they are not comfortable on every sport court because they don’t know how safe it is.</p>

  <h4 class="fase">Ideation</h4>
  <p class="texto">I begin the ideation process looking at some solutions in other countries, what platforms exist in this moment and what do they do. After evaluating this, i took the principal characteristics that would help me solve the problem.
  </p>
  <p class="texto">I need something that can assure them the place is safe, is close to them and how much time they would take going there, as most of the people only had 1 to 2 free hours as minimum.
  </p>

  <h4 class="fase">Build, test & iterate</h4>

  <p class="texto">I planned the interaction, navigation, the user persona who is designed to and the vision and scope of the project. So, as I chose a mobile app, I followed the process with wireframes, first visual design approach, the identity and
    started developing it.
  </p>

  <h4 class="fase">Final result</h4>
  <p class="texto">As a final result and after several iterations in which I tested the app with 10 persons that fitted my user persona, they said that they would feel comfortable with people being able to write reviews of the place and that they are
    not a scam and also that they would know which sports they can do there.
  </p>
  <p class="texto">So, I added the verification step in which you can only make a review and look the place if you create an account and also the information about the place and what sports you can do there.
  </p>

  <h3 class="subtitulo">FINAL DESIGN</h3>

  <img src="../../assets/images/wpfinal.png" alt="final design w2p" class="imgd">

  <div class="mostrario">
    <img src="../../assets/images/w2p1.png" alt="prod w2p">
    <img src="../../assets/images/w2p2.png" alt="prod w2p">
    <img src="../../assets/images/w2p3.png" alt="prod w2p">
  </div>

  <div class="mostrario">
    <img src="../../assets/images/w2p4.png" alt="prod w2p">
    <img src="../../assets/images/w2p5.svg" alt="prod w2p">
    <img src="../../assets/images/w2p6.png" alt="prod w2p">
  </div>


  <button type="button" class="btn" [routerLink]="['/ux-projects']">Go back to UX projects</button>

</div>


<app-pie></app-pie>