<div class="contenedor">


  <div class="buttons">


    <a [routerLink]="['/frontend-projects/Tu banco ideal']" class=" btnav"><span>02</span> next</a>


  </div>

  <h1>Digan Cheese!</h1>
  <div class="fecha">
    <p class="texto">Made on april 20 - 2019</p>
    <p class="texto">Company "Digan Cheese!"</p>

  </div>

  <div class="logo">
    <img src="../../assets/images/cheese.svg" alt="logo cheese">
  </div>

  <p class="texto desc">Web site for a local company who makes and sell different photo frames for family, pets and more.</p>
  <p class="texto desc">I worked as front end web developer in which i used HTML, JS and CSS to develop the page and then convert it to a Wordpress template.</p>

  <a href="http://digancheese.com.co" id="web">Web site</a>


  <h4 class="fase">Team</h4>

  <p class="texto">Daniel Mendez as back end developer.</p>
  <p class="texto">Daniel Escobar as graphic designer.</p>
  <p class="texto">Nicolas Barrera as another front end developer.</p>

  <h3 class="subtitulo">FINAL DESIGN</h3>
  <img src="../../assets/images/c1.png" alt="vs img" class="imgd">
  <img src="../../assets/images/ch0.png" alt="prod cheese" class="imgd">
  <div class="mostrario">
    <img src="../../assets/images/ch1.png" alt="prod cheese">
    <img src="../../assets/images/ch2.png" alt="prod cheese">
  </div>

  <img src="../../assets/images/pagos2.png" alt="prod cheese" class="imgd">





  <button type="button" class="btn" [routerLink]="['/frontend-projects']">Go back to frontend projects</button>

</div>

<app-pie></app-pie>