<div class="contenedor">


  <div class="buttons">

    <a [routerLink]="['/frontend-projects/Detras de la pantalla']" class=" btnav"><span>03</span> prev</a>


  </div>

  <h1>Huellas</h1>
  <div class="fecha">
    <p class="texto">Made on march 2 - 2020</p>
    <p class="texto">Workshop V: Videogames design</p>

  </div>

  <div class="logo">
    <img src="../../assets/images/huellas.svg" alt="logo huellas">
  </div>

  <p class="texto desc">Mobile runner videogame based on the actual environment problems around the world in which the player controls and helps a Koala, a sea turtle, a tiger and a polar bear scape from the destruction of their habitats.</p>

  <p class="texto desc">The objective of the project is informative, to make people know about the catastrophes that doesn’t show the media.</p>

  <h4 class="fase">Team</h4>
  <p class="texto">Javier Guerrero as animator</p>
  <p class="texto">visual design and programming by me.</p>


  <h3 class="subtitulo">FINAL DESIGN</h3>
  <img src="../../assets/images/hui.png" alt="huellas prod" class="imgd">
  <img src="../../assets/images/element.png" alt="huellas prod" class="imgd">
  <img src="../../assets/images/fondos.png" alt="huellas prod" class="imgd">




  <button type="button" class="btn" [routerLink]="['/frontend-projects']">Go back to frontend projects</button>

</div>

<app-pie></app-pie>